#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-1 .mbr-navbar__section {
  background: #000000;
}
#menu-16 .mbr-brand__name {
  font-size: 16px;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-16 .mbr-navbar__section {
  background: #000000;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-18 .mbr-navbar__section {
  background: #000000;
}
